.git
.github
.DS_Store
node_modules
dist
coverage
*.log
.data
docs
talk-ChatGPT.md

apps/*/client/build
apps/*/client/library
apps/*/client/temp
apps/*/client/profiles
apps/*/client/local
apps/*/client/.creator

apps/ski-endless/project.config.json
apps/ski-endless/project.private.config.json
