node_modules
dist
.DS_Store
.idea
.vscode
.env
.env.*
!.env.example
!.env.local.example
!.env.production.example
coverage
*.log
.data
apps/ski-endless/project.config.json
apps/ski-endless/project.private.config.json
